body {
    overflow-x: hidden;
}
h1,h2 {
    font-family: 'Noto Sans', sans-serif;
}
h3,h4,h5 {
    font-family: 'Inconsolata', monospace;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
}
a {
    /*font-family: 'Noto Sans', sans-serif*/
    font-family: 'Inconsolata', monospace;
    color: white;
    letter-spacing: .1em;
}
/*navbar*/
a.navvy:hover {
    color: white;
    text-decoration: none;
}
a.navvy::after {
    color: white;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width ease-in-out .2s;
}
a.navvy:hover::after {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid;
    width: 100%;
}

section {
    height: 100vh;
    padding-top: 15%;
}
/*hero section*/
.intro {
    color: white;
    overflow: hidden;
}
.intro-wrapper {
    position: absolute;
    bottom: 15%;
}
.navbar {
    padding: 16px 32px 0 32px;
}
.intro-title {
    font-size: 3.2em;
}
.intro-sub {
    font-size: 2em;
    margin-top: 2.5%;

}
.divider {
    border-bottom: 2px solid;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 7%;
}
.intro-p {
    font-size: 1.25em;
}
.hero-btn {
    border: 2px solid white;
    font-size: 1.25em;
    padding: .75em 1em .75em 1em;
    cursor: pointer;
    margin-right: 5%;
    position: relative;
    //display:block;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}
.hero-btn:hover {
    color: blue !important;
    font-weight: bold;
}
.hero-btn:before {
    content: "";
    position: absolute;
    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }
.hero-btn:hover:before {
  top: 0;
}
/* three js shit */
#canvasOne {
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9998;
    background: blue;
  }
#canvasTwo {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 1;
    background: #dddddd;
}
  /* end three js */
  
.sector2 {
    position: relative;
    background: #1e262c;
    color: #fff;
    padding-top: 2.5%;
    z-index: 0;
  }
#bgimg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.05;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.container {
    z-index: 2;
}
.sector3 {
    position: relative;
    background: red;
    padding: 0;
    color: white;
  }

.leader {
    margin-top: 5%;
    font-size: 1.25em;
}
.skill-group {
    margin-top: 5%;
}
.skill-desc {
    color: #dddddd;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #adadad;;
    padding: 1em 0 0 1em;
    margin-bottom: 1%;
}
.accordion-head {
    transition: 250ms ease !important;
}
.accordion-head:hover {
    border: none;
    width: 0;
    cursor: pointer;
    color: blue !important;
}
.accordion-head::after {
    border: none;
    width: 0;
}
.accordion-head:hover::after {
    border: none;
    width: 0;
}
/* carousel */
.carousel-item {
    cursor: pointer;
}
.carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.projects {
    font-size: 1.25em;
    padding-top: 5%;
    color: white;
    z-index: 10;
    position: absolute;
}
.slide-capt {
    margin-bottom: 5%;
    bottom: 0;
    position: absolute;
}
.slide-head{
    font-size: 2em;
}
.slide-p {
    padding-top: .25em;
}
.slide-tags {
    padding-top: 1.5em;
    font-weight: bold;
}