@font-face {font-family: "Muli";
  src: url("/css/fonts/Muli-ExtraLight.ttf");
  font-weight: lighter;
  font-style: normal;
}
html,body {
  height: 100%;
  margin: 0;
}
body {
    background: lightgray;
    font-family: "Muli";
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    overflow-x: hidden;

    font-size: 2rem;
}
h1, h2, h3 ,h4 ,h5, p, textarea, button{    
  font-family: "Muli", "sans-serif";
  font-size: 2rem;
}

/* .p5Canvas {
    position: absolute;
    transform: translate( -50%, -50%);
    top: 50%;
    left: 70%;
} */
button {
    position: relative;
    /* top: 60vh; */
    left: 0;
    /* margin-left: 15vw; */
    /* float: left; */
    /* font-size: 1.5vw; */
    padding: 1rem;
    flex-grow: 1;
    background: none;
    /* border: 1px solid gray; */
    border: 1px solid gray;
    margin-top: -2px;
    margin-bottom: -1px;
    margin-right: -1px;
    cursor: pointer;
}
button:hover {
 /*background: #1F799D; */
  /* color: #1F799D; */
  box-shadow: inset 2px 3px 10px darkgray;
}

#randval {
  margin-left: -1px;
}
#btncontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* width: 100%; */
  /* height: 100%; */
}
textarea {
    position: relative;
    /* top: 40vh; */
    /* left: 0; */
    /* margin-left: -5.5vw; */
    /* float: left; */
    /* font-size: 1.5vw; */
    background: none;
    border: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    padding: 2rem;
    resize: none;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
textarea:hover, textarea:focus {
  box-shadow: inset 2px 3px 10px darkgray;
}
/* div {
    position: absolute;
    transform: translate( -50%, -50%);
    top: 50%;
    left: 40%;
    height: 540px;
} */


input[type="range"] {
    display: block;
    -webkit-appearance: none;
      -moz-appearance: none;
      background: #DF9323;
      border-radius: 1px;
    width: 100%;
    height: 10px;
    outline: 0;
    /* margin-top: 64px; */
  }
  input[type="range"]#slidey1{
      background: #1F799D;
  } 
  input[type="range"]#slidey2{
      background: #0B6728;
  } 
  input[type="range"]#slidey3{
      background: #CC4431;
  } 
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease-in-out;
  }
    
    input[type="range"]::-webkit-slider-thumb:active {
      transform: scale(1);
    }
#maincontain {
    width: 80vw;
    height: auto;
    position: relative;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    display: flex;
}
#container {
    /* height: 100%; */
    flex-grow: 1;
    position: relative;
    border: 1px solid grey;
    margin-right: -1px;
    display: flex;
    flex-direction: column;
}
#slcontainer {
    /* margin-top: 20%; */
    border-top: 1px solid grey;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.header {
  position: relative;
  /* width: 100%; */
  height: 12rem;
  border-style: solid;
  border-color: gray;
  border-width: 1px 1px 1px 1px;
  flex-grow: 1;
  /* z-index: 3; */
  margin-right: -1px;
}
#pagetitle {
  /* font-size: 1.5vw; */
  padding: 2rem;
  border-bottom: 1px solid gray;
  margin: 0;
}
#subtitle {
  font-size: 1rem;
  padding: 2rem;
  margin: 0;
}
#canvascontainer {
  height: 45vw;
  width: 35vw;
  display: flex;
  position: relative;
  border: 1px solid gray;
  /* z-index: 1; */
}
@media screen and (max-width: 1200px) {
  body {
    flex-direction: column;
    background: lightgray;
    font-family: "Muli";
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: start;
    justify-content: start;
  }
  #canvascontainer {
    height: 90vw;
    width: 70vw;
  }
  #maincontain {
    margin-top: 5vw;
    margin-bottom: 5vw;
    flex-direction: column;
    /* top: 50%; */
    /* transform:none; */
    /* left: 50%; */
    width: 70vw;
    height: auto;
  }
  #container {
    margin-top: -1px;
  }
}
@media screen and (max-width: 1722px) {
  #subtitle {
    padding: 1rem 2rem 1rem 2rem;
  }
}
@media screen and (max-width: 600px) {
  body, button, textarea {
    font-size: 1rem;
  }
}
.sliderlabel {
  font-size: 1rem;
}